{% extends "::base.html.twig" %}

{% block body %}
    <form>   
      <div class="row">
        <div class="col-sm-4">
          <!--Sidebar content-->
            <div class="form-group">
                <label for="sel1">Liste des enfants :</label>
                <select class="form-control" id="activiteId">
                    {% for enfant in enfants %}
                        <option value="{{enfant.id}}">{{ enfant.prenom ~" "~ enfant.nom }} </option>
                    {% endfor %}
                </select>
                <label for="sel1">Liste des activites :</label>
                <select class="form-control" id="activiteId">
                    {% for activiteR in activitesRealise %}
                        <option value="{{activiteR.id}}">{{ activiteR.activite.getDesignation() }} de {{ activiteR.heureDebut|date("H:i")}}  à {{ activiteR.heureFin|date("H:i") }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="table-responsive">
                <table class ="table">
                    <caption> Liste des ressources</caption>
                    <tr>
                        <th> # </th>
                        <th> Nom ressource </th>
                        <th> A affecter </th>
                    </tr>
                    {% for ressource in ressources %}
                    <tr>
                            <td>{{ ressource.id }} </td>
                            <td> {{ ressource.designation }} </td>
                            <td>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" name="idRessources[]" value="" class="form-check-input">
                                    </label>
                                </div>
                            </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td><td></td>
                        <td>
                            <button type="submit" class="btn btn-default">Affecter</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
      </div>
    </form>
{% endblock %}
