{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% extends "::base.html.twig" %}

{% block title %}ActiviteBundle:Activite:edit{% endblock %}

{% block body %}
  <h3 class="h3">Créer une nouvelle activité</h3>
  {{ form_start(form) }}
  <form>
    <div class="form-group row">
      <label for="example-text-input" class="col-md-4 col-form-label">Designation</label>
          <div class="col-md-5">
            {{ form_errors(form.designation) }}
            {{form_widget(form.designation) }}
          </div>
    </div>
    <div class="form-group row">
      <label for="example-number-input" class="col-md-4 col-form-label">Durée minimal </label>
          <div class="col-md-5">
            {{ form_errors(form.dureeMin) }}
            {{form_widget(form.dureeMin) }}
          </div>
    </div>
    <div class="form-group row">
      <label for="example-number-input" class="col-md-4 col-form-label">Durée maximal </label>
          <div class="col-md-5">
            {{ form_errors(form.dureeMax) }}
            {{form_widget(form.dureeMax) }}
          </div>
    </div>
    <div class="form-group row">
      <label for="example-number-input" class="col-md-4 col-form-label">Nombre d'enfants minimal </label>
          <div class="col-md-5">
            {{ form_errors(form.nbEnfantsMin) }}
            {{form_widget(form.nbEnfantsMin) }}
          </div>
    </div>
    <div class="form-group row">
      <label for="example-number-input" class="col-md-4 col-form-label">Nombre d'enfants maximal </label>
          <div class="col-md-5">
            {{ form_errors(form.nbEnfantsMax) }}
            {{form_widget(form.nbEnfantsMax) }}
          </div>
    </div>
    <div class="form-group row">
      <label for="example-number-input" class="col-md-4 col-form-label">Durée transport</label>
          <div class="col-md-5">
            {{ form_errors(form.dureeTransport) }}
            {{form_widget(form.dureeTransport) }}
          </div>
    </div>
    <div class="form-group row">
      <label for="example-text-input" class="col-md-4 col-form-label">Type activité</label>
          <div class="col-md-5">
            {{ form_errors(form.typeActivite) }}
            {{form_widget(form.typeActivite) }}
          </div>
    </div>
    <div class="form-group row">
        <div class="col-md-7">
            {{ form_widget(form.ok,{ 'label': 'Enregistrer' }, { 'attr': {'class': 'btn btn-primary btn', 'type': 'button'} }) }}
        </div>
    </div>
  </form>
  {{ form_end(form) }}
{% endblock %}
