<td><a href="{{ path('ActiviteBundle_Activite_show',{ 'id': activite.id }) }}"> {{ activite.id }}</a></td>
<td><a href="{{ path('ActiviteBundle_Activite_show',{ 'id': activite.id }) }}"> {{ activite.designation }}</a></td>
<td> {{ activite.typeActivite.getDesignation() }}</td>
<td> {{ activite.DureeMin }}  </td>
<td>{{ activite.DureeMax }}</td>
<td>{{ activite.nbEnfantsMin }}</td>
<td>{{ activite.nbEnfantsMax }}</td>
<td>{{ activite.dureeTransport }}</td>

