
    <tr>
        
        <td><a href='show/{{activite.id}}'> {{activite.id}}</a> </td>
        <td><a href='show/{{activite.id}}'> {{ activite.designation }}</a> </td>  
        <td> {{ activite.DureeMin }}  </td>
        <td>{{ activite.DureeMax }}</td>
        <td>{{ activite.nbEnfantsMin }}</td>
        <td>{{ activite.nbEnfantsMax }}</td>
        <td>{{ activite.dureeTransport }}</td>
    </tr>
