{% extends 'base.html.twig' %}

{% block body %}
    <h1>Enfants list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Estarchive</th>
                <th>Datearrive</th>
                <th>Regime</th>
                <th>Identifiant</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for enfant in enfants %}
            <tr>
                <td><a href="{{ path('enfant_show', { 'id': enfant.id }) }}">{{ enfant.id }}</a></td>
                <td>{{ enfant.prenom }}</td>
                <td>{{ enfant.nom }}</td>
                <td>{{ enfant.estArchive }}</td>
                <td>{% if enfant.dateArrive %}{{ enfant.dateArrive|date('Y-m-d') }}{% endif %}</td>
                <td>{{ enfant.regime }}</td>
                <td>{{ enfant.identifiant }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('enfant_show', { 'id': enfant.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('enfant_edit', { 'id': enfant.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('enfant_new') }}">Create a new enfant</a>
        </li>
    </ul>
{% endblock %}
