
<tr>
    <td><a href='enfant/show/{{enfant.id}}'> {{enfant.id}}</a></td>
    <td><a href='enfant/show/{{enfant.id}}'> {{enfant.prenom}}</a></td>
    <td><a href='enfant/show/{{enfant.id}}'> {{enfant.nom}}</a></td>
    <td>{{enfant.regime}}</td>
    <td>{{enfant.estArchive}}</td>
    <td>{{enfant.dateArrive|date("m/d/Y")}}</td>
</tr>