{% extends 'base.html.twig' %}

{% block body %}
    <h1>Enfant</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ enfant.id }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ enfant.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ enfant.nom }}</td>
            </tr>
            <tr>
                <th>Estarchive</th>
                <td>{{ enfant.estArchive }}</td>
            </tr>
            <tr>
                <th>Datearrive</th>
                <td>{% if enfant.dateArrive %}{{ enfant.dateArrive|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Regime</th>
                <td>{{ enfant.regime }}</td>
            </tr>
            <tr>
                <th>Identifiant</th>
                <td>{{ enfant.identifiant }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('enfant_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('enfant_edit', { 'id': enfant.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
