{% if obligatoire %}
    <h3> Affecter des activités obligatoire à un enfant </h3>
{% else %}
    <h3> Affecter des activités optionnel à un enfant </h3>
{% endif %}
<div class="row">
    <div class="col-md-2">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="group">Groupe:</label>
                    <select class="form-control" id="groupe" name="groupe"
                            onchange="selectGroup(document.getElementsByName('groupe')[0].value)">
                        <option>aucun</option>
                        {% for group in groups %}
                            <option value="{{ group.id }}">{{ group.designation }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="group">Enfant:</label>
                    <select class="form-control" id="enfant" name="enfant">
                        <option>aucun</option>
                        {% for enfant in enfants %}
                            <option id="{{ enfant.groupe.id }}"
                                    value="{{ enfant.id }}">{{ enfant.prenom }} {{ enfant.nom }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="table-responsive">
                <table class="table">
                    <caption>Liste des activités</caption>
                    <tr>
                        <th> Activite id</th>
                        <th> Designation</th>
                        <th> Type Activite</th>
                        <th> Duree Minimum</th>
                        <th> Duree Maximum</th>
                        <th> Nombre minimum d'enfants</th>
                        <th> Nombre maximum d'enfants</th>
                        <th> Durée transport</th>
                        {% if obligatoire %}
                            <th> Ecart</th>
                            <th> Quotas</th>
                        {% endif %}
                        <th> Selection</th>
                    </tr>
                    {% for activite in activites %}
                        <tr>
                            {% include 'ActiviteBundle:Activite:preview.html.twig' %}
                            {% if obligatoire %}
                                <td>
                                    <input input type="number" name="ecarts[{{ activite.id }}]">
                                </td>
                                <td>
                                    <input input type="number" name="quotas[{{ activite.id }}]">
                                </td>
                            {% endif %}
                            <td>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" name="idActivites[]" value="{{ activite.id }}" class="form-check-input">
                                    </label>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        {% if obligatoire %}
                            <td></td><td></td>
                        {% endif %}
                        <td><button type="submit" class="btn btn-primary">Affecter</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


