<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Gestion des emplois du temps{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/bootstrap.css') }}"/>
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/getiem.css') }}"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <div class="container-fluid">
        <div class="row">
            <header>
                {% block header %} {% endblock %}
            </header>
            {% include 'menu.html.twig' %}
            <body>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            {% block body %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
                {% block javascripts %}
                    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/jquery/jquery.min.js') }}"></script>
                    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
                    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
                    <script type="text/javascript" src="{{ asset('js/groupFilter.js') }}"></script>
                    <script type="text/javascript" src="{{ asset('js/ajouterEntityByModal.js') }}"></script>
                {% endblock %}
            </body>
           {% include 'footer.html.twig' %}
        </div>
    </div>
</html>
