<td> {{ activiteFixees.id }} </td>
<td> {{ activiteFixees.activite.getDesignation() }}</td>
<td> {{ activiteFixees.activite.getTypeActivite().getDesignation() }} </td>
<td> {{ activiteFixees.heureDebut|date('H:i') ~ "-"~ activiteFixees.heureFin|date('H:i') }} </td>
<td> {{ activiteFixees.jour.getDesignation() ~'/'~ activiteFixees.jour.getParite() }} </td>