<td> {{ activiteF.id }} </td>
<td> {{ activiteF.activite.getDesignation() }}</td>
<td> {{ activiteF.activite.getTypeActivite().getDesignation() }} </td>
<td> {{ activiteF.heureDebut|date('H:i') ~ "-"~ activiteF.heureFin|date('H:i') }} </td>
<td> {{ activiteF.jour.getDesignation() ~'/'~ activiteF.jour.getParite() }} </td>
<td> {{ activiteF.enfant.getPrenom() ~" "~ activiteF.enfant.getNom() }} </td>