<table>
    <tr>
        <td>Enfant</td>
        <td>{{ activiteFixee.enfant.prenom }} {{ activiteFixee.enfant.nom }}</td>
        
    </tr>
    <tr>
        <td>Activite</td>
        <td>{{ activiteFixee.activite.designation }}</td>
    </tr>
    <tr>
        <td>Jour</td>
        <td> Semaine {{ activiteFixee.jour.parite }} {{ activiteFixee.jour.designation }}</td>
    </tr>
    <tr>
        <td>Heure Début</td>
        <td>{{ activiteFixee.heureDebut }}</td>
    </tr>
    <tr>
        <td>Heure de Fin</td>
        <td>{{ activiteFixee.heureFin }}</td>
    </tr>
</table>