<td> {{ fh.id }} </td>
<td> {{ fh.lundiDebut|date("H:i") ~" - " ~ fh.lundiFin|date("H:i") }} </td>
<td> {{ fh.mardiDebut|date("H:i") ~" - " ~ fh.mardiFin|date("H:i") }} </td>
<td> {{ fh.mercrediDebut|date("H:i") ~" - " ~ fh.mercrediFin|date("H:i") }} </td>
<td> {{ fh.jeudiDebut|date("H:i") ~" - " ~ fh.jeudiFin|date("H:i") }} </td>
<td> {{ fh.vendrediDebut|date("H:i") ~" - " ~ fh.vendrediFin|date("H:i") }} </td>
