{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/scheduler.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/jquery-ui.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/jquery-ui.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/calendar.css') }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/jquery/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/jquery/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/scheduler.min.js') }}"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/calendar-setting-enfant-static.js') }}"></script>

    <script>
            var id = "{{ app.request.attributes.get('id') }}";
             var parite = 0;
        function setParite(semaine) {
            if (semaine != parite) {
                parite = semaine;
                $('#calendar-holder').fullCalendar('refetchResources');
            }

        }
    </script>
{% endblock %}

{% block calendar %}
        <div class="row">
   <div id="selector" class="btn-group">
            <button type="radio" checked onclick="setParite(0)" class="btn btn-primary active">Semaine 1</button>
            <button type="radio" onclick="setParite(1)" class="btn btn-primary">Semaine 2</button>

        </div>
    
    </div>
    <div id="calendar-holder"></div>
{% endblock %}