{% extends "::base.html.twig" %}

{% block title %}Liste ressources{% endblock %}

{% block body %}
    <nav class="navbar navbar-default">
        <div>
            <ul class="nav navbar-nav">
                <li><a href="{{ path('RessourceBundle_Ressource_edit') }}"><input type="button" class="btn btn-primary"
                                                                                  name="btnAjout"
                                                                                  value="Ajouter une ressource"/></a>
                </li>
            </ul>
        </div>
    </nav>
    {% if erreur!="" %}
        <div class="alert alert-danger" role="alert">
            <label>
                {{ erreur }}
            </label>
        </div>
    {% endif %}
    <form method="post">
        <div class="table-responsive">
            <table class="table">
                <caption>Liste des Ressources</caption>
                <tr>
                    <th> #</th>
                    <th> Nom</th>
                    <th> Selection</th>
                </tr>
                {% for ressource in ressources %}
                    <tr>
                        <td>
                            <a href={{ path('RessourceBundle_Ressource_show',{ 'id': ressource.id }) }}> {{ ressource.id }}</a>
                        </td>
                        <td>
                            <a href={{ path('RessourceBundle_Ressource_show',{ 'id': ressource.id }) }}> {{ ressource.designation }}</a>
                        </td>
                        <td>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" name="idRessources[]" value="{{ ressource.id }}"
                                           class="form-check-input">
                                </label>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="submit" class="btn btn-primary">Supprimer</button>
                    </td>
                </tr>
            </table>
        </div>
    </form>

{% endblock %}
