<td><a href="{{ path('RessourceBundle_Ressource_show',{ 'id': ressource.id }) }}">{{ ressource.id }}</td>
<td><a href="{{ path('RessourceBundle_Ressource_show',{ 'id': ressource.id }) }}">{{ ressource.designation }}</td>
<td>{{ ressource.typeRessource.getDesignation() }} </td>


