{% extends "::base.html.twig" %}

{% block title %}Voir ressource{% endblock %}

{% block body %}
<nav class = "navbar navbar-default" >
    <div>
        <ul class = "nav navbar-nav">
            <li><a href="{{path('RessourceBundle_Ressource_edit',{ 'id': ressource.id })}}"> <input type="button" class="btn btn-primary" name="btnAjout" value="Modifier"/></a></li>
            <li><a href="{{path('RessourceBundle_Ressource_delete',{ 'id': ressource.id })}}"><input type="button" class="btn btn-primary" name="btnAjout" value="Supprimer"/></a></li>
        </ul>
     </div>
</nav>
    {% if erreur!="" %}
        <div class="alert alert-danger" role="alert">
            <label>
                {{ erreur }}
            </label>
        </div>
    {% endif %}

  <div class="row">
    <div class="col-sm-4">
      <!--Sidebar content-->
      <div class="table-responsive">
        <table class="table">
            <caption> Information général </caption>
            <tr>
                <td> Numéro : </td><td> {{ressource.id}}</td>
            </tr>
            <tr>
                <td> Nom : </td><td>{{ressource.designation}}</td>
            </tr>
            <tr>
                <td> Type : </td><td> {{ ressource.typeRessource.getDesignation() }} </td>
            </tr>
        </table>
      </div>
    </div>
    <div class="col-sm-8">
        <div class="table-responsive">
            <table class ="table">
                <caption> Liste des activités affectés</caption>
                <tr>
                    <th> # </th>
                    <th> Nom activite </th>
                    <th> Heure </th>
                    <th> Jour - parite </th>
                </tr>
                {% for activiteRealise in ressource.activiteesRealisees %}
                    <tr>
                        <td><a href="{{path('ActiviteBundle_Activite_show',{ 'id': activiteRealise.getActivite().getId() })}}" >{{ activiteRealise.getActivite().getId()}}</a></td>
                        <td><a href="{{path('ActiviteBundle_Activite_show',{ 'id': activiteRealise.getActivite().getId() })}}" >{{ activiteRealise.getActivite().getDesignation()}}</a></td>
                        <td> {{activiteRealise.heureDebut|date("H:i")}}-{{activiteRealise.heureFin|date("H:i")}}</td>
                        <td> {{ activiteRealise.jour().getDesignation() }} - {{ activiteRealise.jour().getParite() }}  </td>
                    </tr>                    
                {% endfor %}
            </table>
        </div>   
    </div>
  </div>
{% endblock %}
