<table>
    <tr>
        <td>Enfant</td>
        <td>{{ activiteRealisee.enfant.prenom }} {{ activiteRealisee.enfant.nom }}</td>
        
    </tr>
    <tr>
        <td>Activite</td>
        <td>{{ activiteRealisee.activite.designation }}</td>
    </tr>
    <tr>
        <td>Jour</td>
        <td> Semaine {{ activiteRealisee.jour.parite }} {{ activiteRealisee.jour.designation }}</td>
    </tr>
    <tr>
        <td>Heure Début</td>
        <td>{{ activiteRealisee.heureDebut }}</td>
    </tr>
    <tr>
        <td>Heure de Fin</td>
        <td>{{ activiteRealisee.heureFin }}</td>
    </tr>
</table>