<td> {{ activiteR.id }} </td>
<td> {{ activiteR.activite.getDesignation() }}</td>
<td> {{ activiteR.activite.getTypeActivite().getDesignation() }} </td>
<td> {{ activiteR.heureDebut|date('H:i') ~ "-"~ activiteR.heureFin|date('H:i') }} </td>
<td> {{ activiteR.jour.getDesignation() ~'/'~ activiteR.jour.getParite() }} </td>
<td> {{ activiteR.enfant.getPrenom() ~" "~ activiteR.enfant.getNom() }} </td>