{% extends "::base.html.twig" %}

{% block body %}
    <div class="row" style="padding-top: 30px">
        <div class="col-lg-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Enfants</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="{{ path('RessourceBundle_Enfant_index') }}">Liste des enfants</a></li>
                        <li><a href="{{ path('RessourceBundle_Groupe_index') }}">Liste des groupes</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Activités</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="{{ path('ActiviteBundle_Activite_index') }}">Liste des activités</a></li>
                        <li><a href="{{ path('ActiviteBundle_TypeActivite_index') }}">Liste des types d'activités</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Ressources</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="{{ path('RessourceBundle_Ressource_index') }}">Liste des ressources</a></li>
                        <li><a href="{{ path('RessourceBundle_TypeRessource_index') }}">Liste des types ressources</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Affectations</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="{{ path('RessourceBundle_AffectationRessource_index') }}">Ressource / Activite</a>
                        </li>
                        <li><a href="{{ path('CoreBundle_affecter_enfant_activite_obligatoire') }}">Enfant / Activite
                                Obligatoire</a></li>
                        <li><a href="{{ path('CoreBundle_affecter_enfant_activite_optionnelle') }}">Enfant / Activite
                                Optionnelle</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 200px">
        <div class="col-lg-12">
            <div id="logo">
                <center><img alt="logo" src="{{ asset('/Images/logo.png') }}"/></center>
            </div>
        </div>
    </div>
{% endblock %}


